[
  {rabbit,
   [
     {ssl_listeners, [5671]},
     {disk_free_limit, {mem_relative, 1.0} },
     {cluster_partition_handling, ignore },
     {default_vhost, <<"/">>},
     {default_user, <<"user">>},
     {default_permissions, [<<".*">>, <<".*">>, <<".*">>]},
     {ssl_options, [
     {cacertfile,"/bitnami/rabbitmq/certificates/ca_certificate.pem"},
     {certfile,"/bitnami/rabbitmq/certificates/server_certificate.pem"},
     {keyfile,"/bitnami/rabbitmq/certificates/server_key.pem"},
     {verify,verify_peer},
     {fail_if_no_peer_cert,false}]}
   ]
  },
  {rabbitmq_management,
   [
     {listener, [{port, 15672 }, {ip, "0.0.0.0"}]}
   ]
  }
].
